.reservationContainer {
  max-width: 90%;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  margin: 0 auto;
  box-shadow:
    0 4px 6px 3px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);

  .reservationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .priceBox {
      display: flex;
      align-items: center;
      gap: 10px;

      .price {
        font-size: 22px;
      }

      .night {
        font-size: 14px;
      }
    }

    .rating {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
      }

      .ratingReview {
        padding-left: 10px;
      }
    }
  }

  .reservationBody {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .checkDateBox {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .checkDate {
        height: 60px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: transparent;
        border: 1px solid rgb(193, 193, 193);
        border-radius: 12px;
        padding: 10px 0;
        font-size: 12px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: rgb(193, 193, 193);
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .reserveBtn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        color: white;
      }
    }

    .subText {
      font-size: 14px;
      text-align: center;
    }

    .reservationInfoBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid rgb(193, 193, 193);
      padding: 20px 0;
      font-size: 15px;

      .reservationInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p:nth-child(1) {
          text-decoration: underline;
        }
      }
    }
  }

  .reservationFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
}
