* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  background-color: white;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
