.category {
  height: 100px;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 0;

    button {
      background-color: inherit;
      border: none;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }

      img {
        height: 30px;
      }
    }
  }
}
