.modalSocialLoginBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .googleSocialButtonBox {
    position: relative;

    .googleImage {
      position: absolute;
      left: 30px;
      top: 48%;
    }
  }

  .kakaoSocialButtonBox {
    position: relative;

    .kakaoImage {
      position: absolute;
      left: 30px;
      top: 48%;
    }
  }
}
