.iconBox {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 7px 12px;
  border: 1px solid #dddddd;
  border-color: rgb(229 229 229);
  border-radius: 100px;
  user-select: none;
  cursor: pointer;

  &:hover {
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

.menuListBox {
  position: absolute;
  right: 0;
  top: 120%;
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 0;
  font-weight: 600;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

  .menuList {
    padding: 20px 20px;

    &:hover {
      background-color: rgb(245, 245, 245);
      cursor: pointer;
    }
  }

  &.menuHide {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
  }

  &.menuShow {
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease;
  }
}
