.detail {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .detailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 24px;

    .detailHeader {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        font-size: 26px;
        font-weight: bold;
      }
    }

    .detailImageBox {
      width: 100%;
      height: 500px;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 10px;

      .detailImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

        &:nth-child(1) {
          grid-row: 1/3;
        }
      }
    }

    .detailContentBox {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 100px;

      &:nth-child(2) {
        grid-row: 1/3;
      }

      .hostInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;

        .hostInfoHeaderBox {
          display: flex;
          justify-content: space-between;

          .hostInfoHeader {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .title {
              font-size: 23px;
            }

            .subtitle {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .itemInfo {
          display: flex;
          flex-direction: column;
          gap: 20px;
          border-top: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb;
          padding: 32px 0;

          .infoIcon {
            display: flex;
            align-items: center;
            gap: 20px;

            .infoIconText {
              font-weight: bold;
            }
          }
        }

        .place {
          width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 25px;

          .placeInfoTitle {
            font-size: 22px;
            font-weight: bold;
          }

          .placeInfoContent {
            width: 220px;
            display: flex;
            flex-direction: column;
            border: 1px solid #ebebeb;
            border-radius: 12px;
            padding: 24px;

            .contentTitle {
              margin-top: 16px;
              margin-bottom: 10px;
              font-weight: bold;
            }

            .contentDetail {
              font-size: 14px;
            }
          }
        }

        .convenient {
          display: flex;
          flex-direction: column;
          gap: 25px;
          border-top: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb;
          padding: 32px 0;

          .convenientTitle {
            font-size: 22px;
            font-weight: bold;
          }

          .convenientContent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
            row-gap: 20px;

            .contentIcon {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }

        .calendarReservation {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .calendarTitle {
            font-size: 22px;
            font-weight: bold;
          }
        }
      }

      .paymentContainer {
        width: 100%;

        .reservationCalendarBox {
          position: relative;

          .calendarModal {
            position: absolute;
            top: -263px;
            right: 44px;
            width: 600px;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 10px;
            padding-bottom: 50px;
            background-color: white;
            box-shadow:
              0 4px 6px 3px rgb(0 0 0 / 0.1),
              0 2px 4px -2px rgb(0 0 0 / 0.1);
          }
        }
      }

      .title {
        font-size: 22px;
      }
    }
  }

  .review {
    border-top: 1px solid #ebebeb;
    padding: 32px 0;

    .reviewHeader {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 22px;
      font-weight: bold;
      padding-bottom: 40px;
    }

    .reviewContent {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
