@import '../../../../styles/variables.scss';
.productItem {
  max-width: 280px;
  height: 400px;
  .image {
    width: 100%;
    height: 280px;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;

      &:hover + .arrow {
        opacity: 1;
        transition: 0.2s;
      }
    }
    .arrow {
      opacity: 0;
      &:hover {
        opacity: 1;
      }
      button {
        width: 30px;
        height: 30px;
        background-color: inherit;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
      }
      button.btnLeft {
        left: 5px;
        .left {
          width: 10px;
          height: 10px;
        }
      }
      button.btnRight {
        right: 5px;
        .right {
          width: 10px;
          height: 10px;
        }
      }
    }
    .heart {
      scale: 1.3;
      position: absolute;
      right: 15px;
      top: 15px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .description {
    position: relative;
    .descriptionText {
      line-height: 1.5;
      margin-top: 10px;
    }
    .gray {
      font-size: 15px;
      color: $grey60;
      line-height: 1.3;
      margin-bottom: 5px;
    }
    .star {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
